<ion-view view-title="Order Destination" style="background: url(img/log.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;">
  <ion-content><br>
    <center><h2>Address</h2></center>
      <center><div>
      <input type="text" ng-model="object.name" placeholder="Name"><br>
      <input type="text" ng-model="object.email" placeholder="Email"><br>
      <input type="text" placeholder="mobile no" ng-model="object.phoneno"><br>
      <input type="text" placeholder="Your Address" ng-model="object.address"><br></div></center>
    <center><button class="button button-positive" ng-click="order()">
        Order
    </button></center>
</div>
  </ion-content>
</ion-view>
