<ion-view view-title="OTP" style="background: url(img/log.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;">
    <ion-content><br><br>
  <center><label class="item item-input item-stacked-label">
    <span class="input-label">Enter OTP</span>
    <input type="text" placeholder="Enter OTP here" ng-model="vm.otpobject.otpp">
  </label></center><br><br>
  <center><button class="button button-positive" ng-click="otp()">
      Confirm
  </button></center>
    </ion-content>
  </ion-view>
